<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :tables_count %><br>
    <%= f.text_field :tables_count%>
  </div>

  <div class="field">
    <%= f.label :time_before %><br>
    <%= f.text_field :time_before %>
  </div>

  <div class="field">
    <%= f.label :time_after %><br>
    <%= f.text_field :time_after %>
  </div>

  <div class="field">
    <%= f.label :time_last %><br>
    <%= f.text_field :time_last %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :cols => "30", :rows => "10"%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= form_for(:photo_form, :url => club_create_photo_url(@club), :html => {:method => :post, :id => 'upload_form', :multipart => true}) do |f| %>
 Upload a file: <%= f.file_field :uploaded_data %>
<% end %>

<script>
$('#upload_form input').change(function(){
 $(this).closest('form').ajaxSubmit({
  beforeSubmit: function(a,f,o) {
   o.dataType = 'json';
  },
  complete: function(XMLHttpRequest, textStatus) {
   // XMLHttpRequest.responseText will contain the URL of the uploaded image.
   // Put it in an image element you create, or do with it what you will.
   // For example, if you have an image elemtn with id "my_image", then
   //  $('#my_image').attr('src', XMLHttpRequest.responseText);
   // Will set that image tag to display the uploaded image.
   console.log(XMLHttpRequest.responseText);
  },
 });
});
</script>