<%= form_for([@club]) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :tables_count %><br>
    <%= f.text_field :tables_count%>
  </div>

  <div class="field">
    <%= f.label :time_before %><br>
    <%= f.text_field :time_before %>
  </div>

  <div class="field">
    <%= f.label :time_after %><br>
    <%= f.text_field :time_after %>
  </div>

  <div class="field">
    <%= f.label :time_last %><br>
    <%= f.text_field :time_last %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :cols => "30", :rows => "10"%>
  </div>

  <% Property.all.group_by{|p| p.kind}.each do |kind, properties| %>
    <div class="field">
      <%= kind %>
      <% properties.each do |property| %>
        <%= f.label property.name %>
        <%= check_box_tag 'property_ids[]', property.id, @club.properties.include?(property) %>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
   Upload a file: <input type="file" multiple name="photos[]" />
  <%= render 'clubs/upload_photo'%>
<% end %>
