<div id="main_1">
  <div id="<%= @club.id %>">    
    <h2> <%= @club.name %> </h2>
    <%= @club.properties.find_by_kind_en('Type').send('name_' + I18n.locale.to_s) %>
    <%= image_tag @club.avatar.url.to_s %>
    <div> <%= @club.description %> </div>
    <%= link_to 'Show', @club %>
    <% if can? :update, @club %>
      <%= link_to 'Edit', edit_club_path(@club) %>
    <% end %>
    <% if can? :destroy, @club %>
      <%= link_to 'Destroy', @club, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <div id='rating'>
      <%= ratings_for @club, :show_user_rating => false, :dimension => :rating %>
    </div>
  </div>
</div>