<style type="text/css">
  #avatar_club{
    display:  inline-block; 
    position: relative;
    border: 1px #333 solid;
  }

  #text_on_avatar{
    border: 1px #333 solid;
    position:absolute;
    left:    0;
    bottom:     0;
    width:   100%;

    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box; 

    color:            #fff;
    padding:          10px;
    background-color: rgba(0,0,0,.3);
    font-size:        12px;
  }

</style>

<div id="main_1">
  <div id="<%= club.id %>">    
    <div id="avatar_club">
      <!--<%= image_tag club.avatar.url.to_s %>-->
      <img src="/assets/for_seed/3.jpg" width="100" heigth="100"></img>
      <div id="text_on_avatar">
        <%= club.properties.find_by_kind_en('Type').send('name_' + I18n.locale.to_s) %> &quot;
        <%= club.name %>&quot;
      </div>
    </div>

    <div>
      <%= link_to t('.make_a_reservation'), club %>
      <% if can? :update, club %>
        <%= link_to 'Edit', edit_club_path(club) %>
      <% end %>
      <% if can? :destroy, club %>
        <%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <div id='rating'>
        <%= ratings_for club, :show_user_rating => false, :dimension => :rating %>
      </div>
    </div>
    
  </div>
</div>