<div id="<%= "club_#{club.id}" %>" class="club-div">
  <div class="club-image" style="background-image:url('<%= asset_path('club.png') %>')">
    <div class="text-on-avatar">
      <%= club.properties.find_by_kind_en('Type').name %> &quot;<%= club.name %>&quot;
    </div>
  </div>

  <div>
    <% if can? :update, club %>
      <% link_to 'Edit', edit_club_path(club) %>
    <% end %>
    <% if can? :destroy, club %>
      <% link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <div class='rating'>
      <%= ratings_for club, :show_user_rating => false, :dimension => :rating%>
    </div>
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <div class="reservation-btn-wrapper">
        <%= link_to t('.make_a_reservation'), club, :class=>'btn-reservation btn btn-danger'%>
          </div>
        </div>
      </div>
  </div>
  
</div>