<script type="text/javascript" src="//vk.com/js/api/openapi.js?110"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<style>
  .a-tab{
    padding:0px;
    border-color:blue;
  }
  .tab-content{
    width:260px;
    height:270px;
  }

</style>
<!-- Nav tabs -->
<ul class="nav nav-pills" style="background-color:#444;width:260px">
  <li class="active"><a href="#vk-widget" style="padding:0px;border-radius:0;" data-toggle="tab">
    <img src="<%=asset_path('transparent/vk.png')%>">
  </a></li>
  <li><a href="#fb-widget" style="padding:0px;border-radius:0;" data-toggle="tab">
    <img src="<%=asset_path('transparent/fb.png')%>">
  </a></li>
  <li><a href="#yt-widget" style="padding:0px;border-radius:0;" data-toggle="tab">
    <img src="<%=asset_path('transparent/yt.png')%>">
  </a></li>
  <li><a href="#gp-widget" style="padding:0px;border-radius:0;" data-toggle="tab">
    <img src="<%=asset_path('transparent/gp.png')%>">
  </a></li>
  <li><a href="#tw-widget" style="padding:0px;border-radius:0;" data-toggle="tab">
    <img src="<%=asset_path('transparent/twitter.png')%>">
  </a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="vk-widget">
    <div id="vk_groups"></div>
    <script type="text/javascript">
    VK.Widgets.Group("vk_groups", {mode: 0, width: "260", height: "323"}, 67797904);
    </script>
  </div>
  <div class="tab-pane" id="fb-widget">
    <div class="fb-like-box" data-href="https://www.facebook.com/pages/Smart-Reserve/302094899944486" data-width="260" data-height="323" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="false"></div>
  </div>
  <div class="tab-pane" id="yt-widget">
    <iframe id="fr" src="http://www.youtube.com/subscribe_widget?p=smartreserve" style="overflow: hidden; height: 323px; width: 260px; border: 0;" scrolling="no" frameBorder="0"></iframe>
  </div>
  <div class="tab-pane" id="gp-widget">
    <!-- Place this tag where you want the widget to render. -->
    <div class="g-page" data-width="260" data-href="https://plus.google.com/107353192218206361990" data-rel="publisher"></div>

    <!-- Place this tag after the last widget tag. -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </div>
  <div class="tab-pane" id="tw-widget">
    <a class="twitter-timeline"  href="https://twitter.com/SmartReserve" width="260" height="323" data-widget-id="450782283545325568">Tweets by @SmartReserve</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
