<!-- 
  Добавление - обычный постсо вложенными параметрами, удаление - аяксом.
  Юзер заливает фоточк в инпут, они отображаются на странице и по сабмиту улетают вместе с формой.
  Существующие картинки уже показаны на странице, и рядом с ними крестик. По крестику аякс на Photos#delete
  и убирается фоточка со вьюшки, причем независимо от респонза. 
-->

<%= form_for Photo.new, :url => club_photos_path(@club), :method => :post, :remote => true do |f| %>
  <%= f.label :uploaded_file, t('.upload_new_file') %>
  <%= f.file_field :uploaded_data, multiple: true, name: 'photo[uploaded_data]' %>
<% end %>

<% # jquery upload template # %>
<script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>


<div id="prev_photo_form_uploaded_data" style="">
  <% @club.photos.each do |photo| %>
    <div style="height:150px;width:500px">
      <%= image_tag(photo.image_url, style: 'height:150px;display:inline') %>
    </div>
  <% end %>
</div>
<script>
$('#new_photo input').change(function(){

  var filedata = $('#new_photo > input')[0],
            formdata = false;
    if (window.FormData) {
        formdata = new FormData();
    }
    var i = 0, len = filedata.files.length, img, reader, file;

    for (; i < len; i++) {
        file = filedata.files[i];

        if (window.FileReader) {
            reader = new FileReader();
            reader.onloadend = function(e) {
                //showUploadedItem(e.target.result, file.fileName);
            };
            reader.readAsDataURL(file);
        }
        if (formdata) {
            formdata.append("file", file);
            $.ajax({
              url: "<%=club_photos_path(@club)%>",
              type: "POST",
              data: formdata,
              processData: false,
              contentType: false,
              success: function(res) {

              },       
              error: function(res) {

               }       
            });
        }
    }
    if (formdata) {
        
      }
});

 // $(this).closest('form').ajaxSubmit({
 //  beforeSubmit: function(a,f,o) {
 //   o.dataType = 'json';
 //  },
 //  complete: function(XMLHttpRequest, textStatus) {
 //   // XMLHttpRequest.responseText will contain the URL of the uploaded image.
 //   // Put it in an image element you create, or do with it what you will.
 //   // For example, if you have an image elemtn with id "my_image", then
 //   //  $('#my_image').attr('src', XMLHttpRequest.responseText);
 //   // Will set that image tag to display the uploaded image.
 //   eval(XMLHttpRequest.responseText);
 //  },
 // });
</script>
