<!-- 
  Добавление - обычный постсо вложенными параметрами, удаление - аяксом.
  Юзер заливает фоточк в инпут, они отображаются на странице и по сабмиту улетают вместе с формой.
  Существующие картинки уже показаны на странице, и рядом с ними крестик. По крестику аякс на Photos#delete
  и убирается фоточка со вьюшки, причем независимо от респонза. 
-->

<%= form_for Photo.new, :url => club_photos_path(@club), :method => :post, html: { multipart: true } do |f| %>
  <%= f.label :uploaded_file, t('.upload_new_file') %>
  <%= f.file_field :uploaded_data, multiple: true, name: 'photo[uploaded_data]' %>
  <%= f.submit 'Submit', class: 'btn' %>
<% end %>

<% # jquery upload template # %>
<script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>


<div id="prev_photo_form_uploaded_data" style="">
  <% @club.photos.each do |photo| %>
    <div style="height:150px;width:150px">
      <%= image_tag(photo.image_url, style: 'height:150px') %>
    </div>
  <% end %>
</div>
