<div class="row" style="width:101%;">
  <div class="col-md-12">                        
    <div class="row" style="text-align:center; background-color:#dedddd;height:13em;" id="restaurants">
      <h3>Заведения в городе</h3>
     
        <div class="row">
          <% properties = Property.where(:kind_en => 'Goal') %>
          <div class="col-md-offset-2 col-md-1" style="width:''">
              <a href="#">
                <img src='<%= asset_path("categories/1.jpg") %>' alt="..." />
                <%= properties.shift.name %>
              </a>
            </div>
          <% (2..8).each do |i| %>
            <div class="col-md-1" style="width:''">
              <a href="#">
                <img src='<%= asset_path("categories/#{i}.jpg") %>' alt="..." />
                <%= properties.shift.name %>
              </a>
            </div> 
          <% end %> 
        </div>       
    </div> 

    <div class="row"><div class="col-md-12">  <br /></div></div>              

    <div class="container-fixed">
      <div class="row">
        <div class="col-md-2">
          <%= form_tag '/catalog', :method => :get do %>
            <% Property.all.group_by{|p| p.kind}.each do |kind, properties| %>
              <div class="">
                <%= label_tag kind %>
                <div>
                <% properties.each do |property| %>                
                  <%= check_box_tag 'property_ids[]', property.id %>
                  <%= property.name %><br />
                <% end %>
                </div>
              </div>
            <% end %>
            <%= submit_tag 'Search'%>
          <% end %>
        </div>
        <div class="col-md-8">          
          <% @clubs.each_slice(4) do |four_clubs| %>
            <div class="row">           
              <% four_clubs.each do |club| %>
                <div class="col-md-3"style="width:220px">
                  <%= render 'clubs/single', :club => club %>
                </div>
              <% end %> 
            </div>          
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>