<h1>Listing clubs</h1>

<% @clubs.each do |club| %>
  <div>
    <h2> <%= club.name %> </h2>
    <div> <%= club.description %> </div>
    <%= link_to 'Show', club %>
    <%= link_to 'Edit', edit_club_path(club) %>
    <%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>    
<% end %>

<br>

<%= link_to 'New Club', new_club_path %>
