<div class="row"><div class="col-md-12">  <br /></div></div>
<div class="row">
  <div class="col-md-12"style="background:url('<%= asset_path('shapka.jpg')%>')  no-repeat scroll 0% 0% / cover  transparent;width:100%;height:23em">
  </div>
</div>
<div class="row"><div class="col-md-12">  <br /></div></div>
<div class="row" style="width:101%;">
  <div class="col-md-12">                        
    <div class="row" style="text-align:center; background-color:#dedddd;height:13em">
      <p style="font-size:1.7em">Заведения в городе</p>
     
        <div class="row">
          <% properties = Property.where(:kind_ru => 'Цель').to_a %>
          <div class="col-md-offset-2 col-md-1" style="width:''">
              <a href="#">
                <img src='<%= asset_path("categories/1.jpg") %>' alt="..." />
                <%= properties.shift.name %>
              </a>
            </div>
          <% (2..8).each do |i| %>
            <div class="col-md-1" style="width:''">
              <a href="#">
                <img src='<%= asset_path("categories/#{i}.jpg") %>' alt="..." />
                <%= properties.shift.name %>
              </a>
            </div> 
          <% end %> 
        </div>       
    </div>               

  <div class="container">
    <% @clubs.each do |club| %>
      <% if @clubs.index(club) % 4 == 0 %>
        <div class="row">
      <% end -%>

      <div class="col-md-3">
        <%= render partial: 'single', :locals => {:club => club} %> 
      </div>

      <% if (@clubs.index(club) + 1) % 4 == 0 || @clubs.index(club) == @clubs.size - 1%>
        </div>
      <% end -%>
    <% end %>
  </div>


  <div id="knopka"> 
        <a href=" "> <p> Перейти в каталог </p> </a>
  </div>
 
 <br>
>>>>>>> text_on_img

    <div class="row">
      <div class="col-md-12">
        <a href=" "> <p style="font-family:sans-serif;font-size:1.5em;color:red;text-align:center"> Перейти в каталог </p> </a>
      </div>
    </div>

    <div class="row"><div class="col-md-12">  <br /></div></div>
    <div class="row">
      <div class="col-md-12" style="background:url('<%= asset_path('afisha_background.png')%>')  no-repeat scroll 0% 0% / cover  transparent;width:100%;height:15em">
        <div style="text-align:center">
          <p style="color:red;font-size:1.5em">Афиша</p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p style="text-align:center;font-size:1.5em"> Наши партнеры </p>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
