<div class="row"><div class="col-md-12">  <br /></div></div>
<div class="row">
  <div class="col-md-12"style="background:url('<%= asset_path('shapka.jpg')%>')  no-repeat scroll 0% 0% / cover  transparent;width:100%;height:365px">
    <div class="row">
      <div class="col-md-12"style="background:url('<%= asset_path('sales_background.png')%>')  no-repeat scroll 0% 0% / cover  transparent;width:100%;height:62px;margin-top:10px">
        <h3 style="color:red;text-align:center"> Акции и спецпредложения </h3>
      </div>
    </div>
    <div class="sales-slider">
      <ul id="sales_slider_ul">
          <%(1..5).each do |i| %>
            <li><img src='<%= asset_path("club.png")%>'/></li>
          <% end %>
      </ul>
      <script>
      $('#sales_slider_ul').bxSlider({
        minSlides: 3,
        maxSlides: 4,
        slideWidth: 210,
        slideMargin: 10
      });
      </script>
    </div>
  </div>
</div>
<div class="row"><div class="col-md-12">  <br /></div></div>
<div class="row" style="width:101%;">
  <div class="col-md-12">                        
    <div class="row" style="text-align:center; background-color:#dedddd;height:13em;" id="restaurants">
      <h3>Заведения в городе</h3>
     
        <div class="row">
          <% properties = Property.where(:kind_en => 'Goal') %>
          <div class="col-md-offset-2 col-md-1" style="width:''">
              <a href="#">
                <img src='<%= asset_path("categories/1.jpg") %>' alt="..." />
                <%= properties.shift.name %>
              </a>
            </div>
          <% (2..8).each do |i| %>
            <div class="col-md-1" style="width:''">
              <a href="#">
                <img src='<%= asset_path("categories/#{i}.jpg") %>' alt="..." />
                <%= properties.shift.name %>
              </a>
            </div> 
          <% end %> 
        </div>       
    </div> 

    <div class="row"><div class="col-md-12">  <br /></div></div>              

    <div class="container-fixed">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">          
          <% @clubs.each_slice(4) do |four_clubs| %>
            <div class="row">           
              <% four_clubs.each do |club| %>
                <div class="col-md-3"style="width:220px">
                  <%= render 'clubs/single', :club => club %>
                </div>
              <% end %> 
            </div>          
          <% end %>
        </div>
      </div>
    </div>

    <div class="row"><div class="col-md-12">  <br /></div></div>

    <div class="row">
      <div class="col-md-12">
        <a href=" "> <h3 style="color:red;text-align:center"> Перейти в каталог </h3> </a>
      </div>
    </div>

    <div class="row"><div class="col-md-12">  <br /></div></div>
    <div class="row">
      <div class="col-md-12" style="background:url('<%= asset_path('afisha_background.png')%>')  no-repeat scroll 0% 0% / cover  transparent;width:100%;height:251px">
        <div style="text-align:center">
          <h3 style="color:red">Афиша</h3>
        </div>
        <div class="news-slider">
          <ul id="news_slider_ul">
              <% @clubs.each do |club| %>
                <li>
                  <div class="club-image" style="background-image:url('<%= asset_path('club.png') %>')">
                    <div class="text-on-avatar">
                      <%= club.properties.find_by_kind_en('Type').name %> &quot;<%= club.name %>&quot;
                    </div>
                  </div>
                </li>
              <% end %>
          </ul>
          <script>
          $('#news_slider_ul').bxSlider({
            minSlides: 3,
            maxSlides: 4,
            slideWidth: 210,
            slideMargin: 10,
            nextText: '< img src="<%=asset_path("chevron_right")%>" height="16" width="16"/>',
            prevText: '< img src="<%=asset_path("chevron_left")%>" height="16" width="16"/>'
          });
          </script>
          <p id="all_news">
            <a href="">Все события</a>
            <img style="display:inline" src=<%=asset_path('arrow_right.png') %> />
          </p>
        </div>        
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 style="text-align:center;"> Наши партнеры </h3>
          <style> 
            .partners_image{
              padding-right:25px;
              display: inline;
            }
          </style><center>
          <%(1..5).each do |i| %>
            <img src='<%= asset_path("partners/#{i}.png")%>' class="partners_image" />
          <% end %></center>
        
        <div class="row"><div class="col-md-12">  <br /></div></div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <%= render 'clubs/social_networks' %>
            </div>
          </div>
          <div class="col-md-3">
            <h3 class="before-footer-h3"> Посетителям </h3>
            <div style="margin-left:15px">
              <a href="" class="before_footer_a">Link 1</a><br />
              <a href="" class="before_footer_a">Link 2</a><br />
              <a href="" class="before_footer_a">URI17</a><br />
              <a href="" class="before_footer_a">URI17</a><br />
              <a href="" class="before_footer_a">Lacrimosa dies illa</a><br />
            </div>
          </div>
          <div class="col-md-3">
            <h3 class="before-footer-h3"> Ресторанам </h3>
            <div style="margin-left:15px">
              <a href="" class="before_footer_a">Link 1</a><br />
              <a href="" class="before_footer_a">Link 2</a><br />
              <a href="" class="before_footer_a">URI17</a><br />
              <a href="" class="before_footer_a">Terms and conditions</a><br />
              <a href="" class="before_footer_a">Privacy</a><br />
              <a href="" class="before_footer_a">Cosmos 69</a><br />
              <a href="" class="before_footer_a">29th June 1965</a><br />
              <a href="" class="before_footer_a">Command is in one second</a><br />
              <a href="" class="before_footer_a">14:02 GMT</a>
            </div>
          </div>
        </div>
        <div class="row"><div class="col-md-12">  <br /></div></div>


      </div>
    </div>
  </div>
</div>
