<h1><%= t('.add_club') %></h1>

<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('.name') %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label t('.tables_count') %><br>
    <%= f.text_field :tables_count%>
  </div>

  <div class="field">
    <%= f.label t('.time_before') %><br>
    <%= f.text_field :time_before %>
  </div>

  <div class="field">
    <%= f.label t('.time_after') %><br>
    <%= f.text_field :time_after %>
  </div>

  <div class="field">
    <%= f.label t('.time_last') %><br>
    <%= f.text_field :time_last %>
  </div>

  <div class="field">
    <%= f.label t('.description') %><br>
    <%= f.text_area :description, :cols => "30", :rows => "10"%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', clubs_path %>
