<p id="notice"><%= notice %></p>

<div class="col-md-8 col-md-offset-2" style="font-size:13px">
  <div class="row">
    <% unless @club.avatar.blank? %>
      <div class="col-md-5" style="padding:23px">
        <img src="<%= to_http(@club.avatar.url)%>"/>
      </div>
    <% end %>
    <div class="col-md-7">
      <h3><%=@club.name%></h3>
      <p style="color:#ec5c5c"><%=@club.properties.find_by_kind_en('Type').name%></p>
      <p><%=@club.description%></p>
      <div class='btn btn-my'>
        <%= link_to 'Редактировать информацию', edit_club_path(@club)%>
      </div>
    </div>
  </div>
</div>

<% @comments = @club.comments %>
<div id="comments" class="row">
  <% @comments.each do |c| %>
    <% @comment = c %>
    <%= render 'comments/comment' %>
  <% end %>
</div>
<div class="row">
  <% if can? :create, Comment.new %>
    <%= form_for(Comment.new, :url => club_comments_url(@club), :remote => :true, :action => :create) do |f| %>
      <%= f.text_area :description %>
      <%= f.submit 'Add comment' %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Tables', club_new_order_path(@club) %> |
<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
