<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Table</th>
      <th>Since</th>
      <th>Until</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.table %></td>
        <td><%= order.since %></td>
        <td><%= order.until %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
