<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @order.table %>
</p>

<p>
  <strong>Since:</strong>
  <%= @order.since %>
</p>

<p>
  <strong>Until:</strong>
  <%= @order.until %>
</p>

<%= link_to 'Edit', edit_club_table_order_path(@order.table.club,@order.table,@order) %> |

