<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Smart Reserve" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Smart Reserve" %>">
    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "bootstrap/framework_and_overrides" %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>
<body>
  <div class="col-md-8 col-md-offset-2" style="margin-top:15px">
        <div id="translate" class="text" style="height:0px;top:20px">
          Рус |
          <a href = "#"> Eng</a>
        </div>
    <div class="row">
      <div class="col-md-6">
          <img src="<%= asset_path('temp-1.jpg') %>" alt="Логотип" style="float:left"/>
      </div>
      <div class="col-md-6">
        <div id = "table1" style="float:right;margin-top:20px">
            <div class="market_icon" id="as">
            </div>
            <div class="market_icon" id="gplay">
            </div>
            <div class="market_icon" id="mp">
            </div>
        </div>
      </div>
    </div>

    <div class="row" id = "row2">
      <div class="col-md-7">
        <div id="video12">
          <iframe src="//player.vimeo.com/video/16063824?title=0&amp;portrait=0&amp;color=ff9933" webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder="0"></iframe>
        </div>
      </div>



      <div class="col-md-4 btn-group" style="margin-top:-5px;height:365px;">
        <div>
          <p class="text">Зарегистрируйтесь и получите возможность первыми протестировать систему SmartReserve
          </p>
        </div>
          <%= form_for(User.new, remote: true, url: '/users', method:'POST', authenticity_token: true) do |f| %>
          <input type = "email"  class = "btn btn-block text" name = "user[email]" size = "30" placeholder="Ваш E-mail" style="border-color:black;cursor:text">
          <input type = "submit" class = "btn btn-block text" value = "Зарегистрироваться" name = "button" onclick="$('#modal').modal()">
          
          <!--input type="button" class="btn btn-block" value="Вход" name="button" onclick="window.location.href='/users/sign_in'"-->
          <input type="hidden" name="user[password]" value="123456" />
          <input type="hidden" name="user[phone]" value="+375290123456" />
          <div style="position:absolute;bottom:0;width:90%">
            <input type = "submit" class = "btn btn-block text" value = "Тестировать сервис" name = "testingService">
          </div>
          <% end %>
        
      </div>  
      <div class="col-md-1">
        <div id="table2" style="float:right; padding:0px">
          <a href="https://www.facebook.com/pages/Smart-Reserve/302094899944486" rel="nofollow">
            <div class="sn_icon" id="fb"></div>
          </a><br />
          <a href="http://twitter.com/smartreserve" rel="nofollow">
            <div class="sn_icon" id="twitter"></div>
          </a><br />
          <a href="http://vk.com/smartreserve" rel="nofollow">
            <div class="sn_icon" id="vk"></div>
          </a><br />
          <a href="http://www.youtube.com/user/smartreserve">
            <div class="sn_icon" id="yt"></div>
          </a><br />
          <a href="https://plus.google.com/107353192218206361990/posts" rel="publisher">
            <div class="sn_icon" id="gp"></div>
          </a>
        </div>
      </div>
    </div>
    
    <div class="row-fluid">
      <div id = "text2" class="span12 text" style="text-align:justify;background-color: #ffffff;padding:0;width:99.9%">        
          Сервис SmartReserve предоставляет возможность бронирования столиков в заведениях Вашего города в режиме онлайн в течение нескольких минут. Организуйте свой досуг или деловую встречу, без дорогостоящих звонков и ожиданий на телефонной линии. <p style="text-align:center;font-size:16pt"><strong>SmartReserve - Ваше время в Ваших руках!</strong></p>
      </div>
        <div class="row">
          <div class="col-md-4" style="height:86px">
            <p class="text" style="position:absolute;bottom:0;font-size:9pt">
              SmartReserve @ 2014 <br />
              <a href = "mailto:info@smartreserve.by">
                info@smartreserve.by
              </a>
            </p>
          </div>
        
          <div class="col-md-8" style="float:right">
            <a href = "#">             
              <img style="float:right" src="<%= asset_path('temp-10.png') %>" />
            </a>
          </div>
        </div>
      
    </div>

  </div>
<div style="display:none">
  <% %w[fb.png gplay.png  mp.png yt.png as.png gp.png vk.png twitter.png ].each do |i| %>
    <img src= "<%= asset_path(i) %>" />
  <% end %>
</div>

<div class="modal fade" tabindex="-1" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#modal').modal('hide')">&times;</button>
        <h4 class="modal-title">Позравляем!</h4>
      </div>
      <div class="modal-body">
        Теперьвы подписаны на наши новости.
      </div>      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</body>
</html>