
<script type="text/javascript">
  function showDialogModal() 
  {
    $('#dialog_form').dialog( {
      show : "slide",
      hide : "toggle",
      width: 800,
      height: 300,
      modal: true,
      title: "Create order",
      buttons: {
        "Cancel" : function()
        {
            $("#dialog_form").dialog("close");
        }
      }
    }).prev().find(".ui-dialog-titlebar-close").hide(); // To hide the standard close button
  }

  $(document).ready(function() {
    $('#dialog_form').hide();
    $('button#do_order').each(function(){
      $(this).on("click", function(){
        var table_id = $(this)[0].parentElement.id;
        table_id = table_id.replace("table_", "");
        $("#order_table_id").attr("value", table_id);
        showDialogModal();
      });
    });
  });
</script>
<div class="row-fluid">
  <div class="col-md-9">
    <div>
      Time on witch want do order:
      <b></b>
      <br>
      <%= select_datetime(@time, {day: true, month: true, year: true}) %>
    </div>
    <div id="tables">
    <% @tables.each do |table|%>
      <div id="table_<%= table.id %>">
        <button id="do_order" class="<%= get_color_table(table, @time)%>"><%= table.id %></button>
      </div>
    <% end %>
    </div>
  </div>  

  <div class="col-md-3">
    <%= render "orders/form" %>
  </div>
</div>

