<p id="notice"><%= notice %></p>

<p>
  <strong>Status</strong>
  <%= @table.status(Time.now) %>
</p><br />
<p>
  <strong>Will free in</strong>
  <%= Time.now+@table.will_free(Time.now) %>
</p>
<p>
  <table>
    <thead>
      <tr>
        <th>Order</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @table.order.each_with_index do |o,i| %>
        <tr>
          <td><%= o %></td>
          <td><%= i+1 %></td>
          <td><%= link_to 'Show', club_order_path(@table.club,o) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', club_edit_table_path(@table.club, @table) %> |
<%= link_to 'Back', club_tables_path(@table.club) %>
