<!DOCTYPE html>
<html>
  <head>
    <meta name='yandex-verification' content='7562595b0d9d7730' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Smart Reserve" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Smart Reserve" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= ajaxful_rating_style %>
    <%= favicon_link_tag %>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <body style="overflow-x:hidden;font-family:'PT Sans' sans-serif;color:black;font-size:1.577em">
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
(w[c] = w[c] || []).push(function() {
try {
w.yaCounter24458147 = new Ya.Metrika({id:24458147,
webvisor:true,
clickmap:true,
trackLinks:true,
accurateTrackBounce:true});
} catch(e) { }
});

var n = d.getElementsByTagName("script")[0],
s = d.createElement("script"),
f = function () { n.parentNode.insertBefore(s, n); };
s.type = "text/javascript";
s.async = true;
s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

if (w.opera == "[object Opera]") {
d.addEventListener("DOMContentLoaded", f, false);
} else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24458147" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<div class="col-md-8 col-md-offset-2" style="margin-top:15px">
  <div id="translate" class="text" style="height:0px;top:20px">
    Рус |
    <a href = "#"> Eng</a>
  </div>
  <div class="row">
    <div class="col-md-6">
        <img src="<%= asset_path('temp-1.jpg') %>" alt="Логотип" style="float:left"/>
    </div>
    <div class="col-md-6">
      <div id = "table1" style="float:right;margin-top:20px">
        <div class="market-wrapper">
          <div class="market_icon" id="as"></div>
        </div>
        <div class="market-wrapper">
          <div class="market_icon" id="gplay"></div>
        </div>
        <div class="market-wrapper">
          <div class="market_icon" id="mp"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row"><div class="col-md-12">  <br /></div></div>
<%= render 'layouts/navigation' %>


<%= render 'layouts/messages' %>
<%= yield %>

<div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 style="text-align:center;"> Наши партнеры </h3>
          <style> 
            .partners_image{
              padding-right:25px;
              display: inline;
            }
          </style><center>
          <%(1..5).each do |i| %>
            <img src='<%= asset_path("partners/#{i}.png")%>' class="partners_image" />
          <% end %></center>


        <div class="row"><div class="col-md-12" style="border-bottom:1px solid #d0cfcf">  <br /></div></div>
        <div class="row"><div class="col-md-12">  <br /></div></div>
        <%= render 'clubs/social_networks' %> 
        <div class="row"><div class="col-md-12">  <br /></div></div>
        <div class="row"><div class="col-md-12" style="border-top:1px solid #d0cfcf">  <br /></div></div>        
        <div class="row">
          <div class="col-md-3">
            <h3 class="before-footer-h3"> Посетителям </h3>
            <div style="margin-left:15px">
              <a href="" class="before_footer_a">Link 1</a><br />
              <a href="" class="before_footer_a">Link 2</a><br />
              <a href="" class="before_footer_a">URI17</a><br />
              <a href="" class="before_footer_a">URI17</a><br />
              <a href="" class="before_footer_a">Lacrimosa dies illa</a><br />
            </div>
          </div>
          <div class="col-md-3">
            <h3 class="before-footer-h3"> Ресторанам </h3>
            <div style="margin-left:15px">
              <a href="" class="before_footer_a">Link 1</a><br />
              <a href="" class="before_footer_a">Link 2</a><br />
              <a href="" class="before_footer_a">URI17</a><br />
              <a href="" class="before_footer_a">Terms and conditions</a><br />
              <a href="" class="before_footer_a">Privacy</a><br />
              <a href="" class="before_footer_a">Cosmos 69</a><br />
              <a href="" class="before_footer_a">29th June 1965</a><br />
              <a href="" class="before_footer_a">Command is in one second</a><br />
              <a href="" class="before_footer_a">14:02 GMT</a>
            </div>
          </div>          
          <div class="col-md-3">
            <h3 class="before-footer-h3"> Посетителям </h3>
            <div style="margin-left:15px">
              <a href="" class="before_footer_a">Link 1</a><br />
              <a href="" class="before_footer_a">Link 2</a><br />
              <a href="" class="before_footer_a">URI17</a><br />
              <a href="" class="before_footer_a">URI17</a><br />
              <a href="" class="before_footer_a">Lacrimosa dies illa</a><br />
            </div>
          </div>
          <div class="col-md-3">
            <h3 class="before-footer-h3"> Ресторанам </h3>
            <div style="margin-left:15px">
              <a href="" class="before_footer_a">Link 1</a><br />
              <a href="" class="before_footer_a">Link 2</a><br />
              <a href="" class="before_footer_a">URI17</a><br />
              <a href="" class="before_footer_a">Terms and conditions</a><br />
              <a href="" class="before_footer_a">Privacy</a><br />
              <a href="" class="before_footer_a">Cosmos 69</a><br />
              <a href="" class="before_footer_a">29th June 1965</a><br />
              <a href="" class="before_footer_a">Command is in one second</a><br />
              <a href="" class="before_footer_a">14:02 GMT</a>
            </div>
          </div>
        </div>
        <div class="row"><div class="col-md-12">  <br /></div></div>
        <div class="row"><div class="col-md-12">  <br /></div></div>
        <div class="row"><div class="col-md-12">  <br /></div></div>

      </div>
    </div>

<div class="row" style="background-color:#dedddd">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        <br />
        <style>
          #footer_nav a{
            padding: 0 10px;
            color: black;
          }
        </style>
        <div id="footer_nav" style="text-align:center">
          <a href=" ">Главная</a> 
          <a href=" ">Посетителям</a> 
          <a href=" ">Ресторанам</a>
          <a href=" ">Новости</a>
          <a href=" ">О проекте</a> 
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="<%=asset_path('footer_logo.png')%>" />
      </div>
      <div class="col-md-6">
        <p style="text-align:center; font-size:0.6em;color:black">
          Lorem ipsum dolor sit amet.Dies irae dies illa solvet secum in favilla, teste David cum Sybilla. Quantos tremor est futurus, quando judex est venturus, cunta stricte discussurus.Tuba mirum sparge sonum per sepulchra regionum, coget omnes ante thronum. Rex tremendae majestatis, qui salvando salvas gratis, salva mea fons pietatis.
        </p>
      </div>
      <div class="col-md-3">
        <img src="<%= asset_path('footer_logo_mini.png') %>" style="float:right"/>
        SmartReserve @ 2014 <br />
        <a href="mailto:info@smartreserve.by">info@smartreserve.by</a>
        
      </div>
    </div>
  </div>
</div>


  </body>
</html>
