<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Smart Reserve" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Smart Reserve" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= ajaxful_rating_style %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <!--<div class="col-md-8 col-md-offset-2" style="margin-top:15px">
        <div id="translate" class="text" style="height:0px;top:20px">
          Рус |
          <a href = "#"> Eng</a>
        </div>
      <div class="row">
        <div class="col-md-6">
            <img src="<%= asset_path('temp-1.jpg') %>" alt="Логотип" style="float:left"/>
        </div>
        <div class="col-md-6">
          <div id = "table1" style="float:right;margin-top:20px">
              <div class="market_icon" id="as">
              </div>
              <div class="market_icon" id="gplay">
              </div>
              <div class="market_icon" id="mp">
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-md-12"><br /></div>
    <div class="row">
      <%= render 'layouts/navigation' %>
    </div>-->
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
